.button {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  font-family: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: none;
  border-radius: 3px;
  display: block;
  background-color: $jade-green;

  &:hover,
  &:focus {
    background-color: $jade-green-hover;
  }

  &:active {
    color: $white-15;
    background-color: $jade-green-hover;
  }
}
