.download {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $dark-two;
  background-size: contain;
  background-position: center;
  padding-top: 107px;
  position: relative;
}


.download__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: $white;
  display: flex;
  box-sizing: border-box;
  width: 225px;
  text-align: center;
  margin-bottom: 30px;
  position: absolute;
  top: 3px;
}

.download__image {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: -7%;
  top: 12%;
  bottom: 0;
}

.download__wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $dark-two;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 30px;
  padding-bottom: 19px;
}

.download__button {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  text-transform: none;
  color: $white;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 17px;
  width: 281px;
  text-align: center;
  border: 3px $white solid;
  border-radius: 30px;
  margin-bottom: 33px;
  display: block;
}

.download__button:hover {
  color: $lipstick;
  background-color: $white;
}

.download__button:focus {
  color: $lipstick-03;
  background-color: $white;
}

.download__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: $white;
  font-weight: 300;
  width: 230px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .download {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 94px;
    min-height: 621px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 730px auto;
    }

    .download__pic {
      max-width: none;
    }
  }

  .download__wrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    background: none;
    align-items: center;
    width: 45%;
    margin-left: 10px;
    margin-right: 0;
    padding: 0;
  }

  .download__button {
    width: 300px;
    margin-bottom: 45px;
  }

  .download__list {
    margin-bottom: 30px;
  }

  .download__text {
    margin-top: 3px;
    margin-bottom: 30px;
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }

  .download__image {
    order: 2;
    position: absolute;
    left: -3%;
    top: 13%;
    bottom: 0;
  }

  .download__title {
    font-size: 40px;
    line-height: 48px;
    width: 195px;
    position: static;
    margin-top: 0;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-size: cover;
    min-height: 853px;
    padding-top: 102px;
  }

  .download__title {
    font-size: 50px;
    line-height: 1.17;
    width: 240px;
    margin-bottom: 56px;
    padding-top: 116px;
  }

  .download__image {
    order: 2;
    position: absolute;
    right: 5px;
    bottom: -106px;
    left: auto;
  }

  .download__wrapper {
    width: 32%;
    padding-top: 3px;
    margin-left: 0;
  }

  .download__button {
    margin-bottom: 67px;
    font-size: 21px;
  }

  .download__text {
    margin-top: 22px;
    width: 300px;
    font-size: 18px;
  }
}
