.editor {
  background-color: $white-two;
  padding-top: 20px;
  padding-bottom: 40px;
}

.editor__form {
  margin-top: 41px;
}

.editor__tools-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 36px;
  padding-right: 44px;
  margin-bottom: 33px;
}

.editor__bar {
  display: none;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;

  &--mobile {
    display: block;
  }
}

.editor__scale {
  width: 100%;
  height: 2px;
  background-color: $dark-two;
}

.editor__toggle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $white;
  border: 2px solid $lipstick;
  position: absolute;
  top: 50%;
  left: 192px;
  transform: translateY(-50%);

  &:active {
    background-color: $lipstick;
  }
}

.editor__button-wrapper {
  border-top: 1px solid $gray-light;
  margin-top: 34px;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.editor__tools-button {
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;

  &:hover .editor__tools-image-path,
  &:focus .editor__tools-image-path {
    fill: $gray-dark;
  }

  &:active .editor__tools-image-path,
  &--active .editor__tools-image-path {
    fill: $lipstick;
  }
}

.editor__tools-image-path {
  fill: $gray-normal;
}

.editor__button {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  text-transform: none;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  border-radius: 30px;
  display: block;
  border-style: solid;
  border-width: 3px;
  font-family: inherit;
  width: 100%;

  &--post {
    color: $lipstick;
    border-color: $lipstick;
    margin-bottom: 14px;

    &:hover,
    &:focus {
      color: $white;
      background-color: $lipstick;
    }

    &:active {
      color: $white-15;
      background-color: $lipstick;
    }
  }

  &--cancel {
    color: $white-two;
    border-color: $gray-light;

    &:hover,
    &:focus {
      color: $gray-normal;
      border-color: $gray-normal;
    }

    &:active {
      color: $white-15;
      background-color: $gray-normal;
    }
  }
}

@media (min-width: $tablet-width) {
  .editor {
    padding-top: 55px;
    padding-bottom: 53px;
  }

  .editor__wrapper {
    display: flex;
  }

  .editor__photo {
    margin-right: 24px;
  }

  .editor__form {
    flex-grow: 1;
    margin-top: 0;
    padding-left: 24px;
  }

  .editor__bar {
    display: block;
    width: 203px;
    padding: 0;

    &--mobile {
      display: none;
    }
  }

  .editor__tools-list {
    display: block;
    padding: 0;
    margin-bottom: 68px;
  }

  .editor__tools-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray-light;
    padding-right: 18px;

    &--crop {
      padding-bottom: 24px;
      padding-top: 10px;

      .editor__tools-button {
        width: 22px;
        height: 23px;
      }

      .editor__toggle {
        left: 147px;
      }
    }

    &--fill {
      padding-bottom: 25px;
      padding-top: 25px;

      .editor__tools-button {
        width: 25px;
        height: 23px;
      }

      .editor__toggle {
        left: 25px;
      }
    }

    &--contrast {
      padding-bottom: 26px;
      padding-top: 24px;

      .editor__tools-button {
        width: 18px;
        height: 18px;
      }

      .editor__toggle {
        left: 97px;
      }
    }
  }

  .editor__tools-image {
    width: 100%;
    height: 100%;
  }

  .editor__tools-image-path {
    fill: $lipstick;
  }

  .editor__button-wrapper {
    margin: 0;
    padding: 0;
    border-top: none;
    margin-right: 13px;
  }

  .editor__button {
    &--post {
      margin-bottom: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .editor {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    margin-bottom: 57px;
  }

  .editor__wrapper {
    padding-top: 53px;
    padding-bottom: 58px;
    background-color: $white-two;
    padding-left: 80px;
    padding-right: 60px;
    justify-content: space-between;
  }

  .editor__photo {
    flex-grow: 0;
    margin-right: 90px;
  }

  .editor__form {
    flex-grow: 0;
    width: 410px;
    padding-left: 0;
  }

  .editor__tools-list {
    margin-bottom: 147px;
  }

  .editor__tools-item {
    padding-right: 30px;

    &--crop {
      padding-bottom: 10px;
      padding-top: 0;

      .editor__tools-button {
        width: 48px;
        height: 48px;
      }

      .editor__toggle {
        left: 72px;
      }
    }

    &--fill {
      padding-bottom: 12px;
      padding-top: 17px;

      .editor__tools-button {
        width: 50px;
        height: 45px;
      }

      .editor__toggle {
        left: 246px;
      }
    }

    &--contrast {
      padding-bottom: 18px;
      padding-top: 18px;

      .editor__tools-button {
        width: 33px;
        height: 33px;
      }

      .editor__toggle {
        left: 160px;
      }
    }
  }

  .editor__bar {
    width: 290px;
  }

  .editor__button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  }

  .editor__button {
    width: 185px;

    &--post {
      margin-bottom: 0;
    }
  }
}
