.features {
  background-image: url("../img/mask.png");
  background-color: $white;
  background-position: center -45px;
  background-repeat: no-repeat;
  background-size: cover;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__image {
  order: 2;
  margin-top: 26px;
  height: 284px;
  overflow: hidden;
}

.features__pic--desktop {
  display: none;
}

.features__list {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $dark-two;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-left: 0;
  padding-top: 67px;
  margin: 0 auto;
  width: 260px;
  text-align: center;
}

.features__header {
  font-size: 18px;
  line-height: 10px;
  font-weight: 600;
  color: $black;
  margin-bottom: 23px;
  text-align: center;
}

.features__text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .features {
    background-image: url("../img/mask_tablet.png");
    background-position: center -16px;
  }

  .features__image {
    display: block;
    order: initial;
    margin-top: 13px;
    height: 482px;
  }

  .features__wrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
  }

  .features__list {
    width: 320px;
    text-align: left;
    padding-top: 0;
    margin-left: 32px;
    margin-right: 0;
    margin-top: 86px;
  }

  .features__item {
    padding-top: 0;
    padding-left: 10px;
    margin-bottom: 40px;
  }

  .features__header {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .features__text {
    text-align: left;
    margin: 0;

    br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    background-image: url("../img/mask_desktop.png");
    background-position: center 0;
  }

  .features__pic--desktop {
    display: block;
  }

  .features__wrapper {
    flex-direction: column;
  }

  .features__image {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 0;
    height: 305px;
    margin-top: 6px;
  }

  .features__list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    margin-top: 45px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 25px;
    padding-right: 30px;
  }

  .features__item {
    width: 245px;
    padding-top: 0;
    padding-left: 0;
  }

  .features__header {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 29px;

    &--width {
      width: 230px;
    }
  }

  .features__text {
    width: 237px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;

    br {
      display: none;
    }
  }
}
