.map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-color: $white-two;
  background-size: cover;
  background-position: top -440px right 0;
  height: 300px;
  position: relative;
}

.map::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}

.map::after {
  background-image: url("../img/icon-map-marker.svg");
  background-position: -2px center;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  top: 98px;
  left: 142px;
  width: 37px;
  height: 36px;
  z-index: 1;
  display: none;
}

@media (min-width: $tablet-width) {
  .map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: top -348px right -20px;
    background-size: auto;
    height: 375px;
  }

  .map::before {
    content: "";
    width: 100%;
    height: 155px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: 100%;
    top: -1px;
  }

  .map::after {
    top: 190px;
    left: 315px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: top -261px right 0;
    height: 518px;
    margin-bottom: 26px;
  }

  .map::before {
    content: "";
    width: 100%;
    height: 160px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: 100%;
  }

  .map::after {
    top: 279px;
    left: 579px;
  }
}
