.photos {
  background-color: $white;
  margin: 0 auto;
}

.photos__list {
  list-style: none;
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
  box-sizing: border-box;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .photos__list {
    grid-template-columns: 1fr 1fr;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .photos__text {
    font-size: 18px;
    line-height: 30px;
    width: 568px;
    padding-top: 100px;
    padding-bottom: 65px;
  }

  .photos__list {
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
    margin: 0 auto;
    margin-top: 51px;
  }
}
