@import "variables.scss";
@import "mixins.scss";
@import "scafolding.scss";
@import "blocks/button.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/container.scss";
@import "blocks/slider-controls.scss";
@import "blocks/download.scss";
@import "blocks/offer.scss";
@import "blocks/features.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/photos-head.scss";
@import "blocks/photos-invite.scss";
@import "blocks/photos.scss";
@import "blocks/upload-text.scss";
@import "blocks/editor.scss";
@import "blocks/site-list.scss";
@import "blocks/social-list.scss";
@import "blocks/stores.scss";
@import "blocks/footer.scss";
@import "blocks/contacts.scss";
@import "blocks/contest.scss";
@import "blocks/feedback.scss";
@import "blocks/effect.scss";
@import "blocks/form-page.scss";
@import "blocks/personal-data.scss";
@import "blocks/checkbox.scss";
@import "blocks/radio.scss";
@import "blocks/contact-data.scss";
@import "blocks/emotions.scss";
@import "blocks/prices.scss";
@import "blocks/map.scss";
@import "blocks/modal.scss"
