$dark-two: rgb(40, 54, 69);
$dark-two-03: rgba(40, 54, 69, 0.3);
$dark-two-01: rgba(40, 54, 69, 0.1);
$white-two: rgb(242, 242, 242);
$white: rgb(255, 255, 255);
$gray-light: rgb(221, 223, 224);
$gray-normal: rgb(181, 185, 190);
$gray-dark: rgb(141, 148, 155);
$white-15: rgba(255, 255, 255, 0.15);
$black: rgb(0, 0, 0);
$black-15: rgba(0, 0, 0, 0.15);
$lipstick: rgb(210, 40, 86);
$lipstick-03: rgba(210, 40, 86, 0.3);
$jade-green: rgb(42, 171, 109);
$jade-green-hover: rgb(28, 155, 94);

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
